.header { font-size:25px; color:#fff; font-weight:700;}

.action-buttons{ position: relative; }
.action-buttons a, form, button{ display: inline; }
.liked { color:red; }
.toggleButton{ cursor: pointer; }
/*footer*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important;margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}

.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

 /*masonry*/
 .grid-item { float:left;width:200px; }
.grid-item .panel { height: 200px; }

/* custom style for thread list */
.threads > .list-group-item{ 
	margin-bottom: 20px; 
 	border-radius: 5px; background: #FFFFFF;
 	box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.17);
}
.threads > .list-group-item >.list-group-item-heading{
	color: #920000;
	font-size: 20px;
	font-style: bold;
	padding-bottom: 8px;
}
.threads > .list-group-item >.list-group-item-text{ color: #3D2727; font-size: 15px; }
.threads > .list-group-item > .badge{ font-size: 15px; background-color: #C50C0C; color: white; }
.threads > .list-group-item:hover{ background-color: #C50C0C; border-color: #C50C0C; }

/* custom style for navbar */
.navbar{ background: #C50C0C; }

/* custom style for links */
a{ color: #C50C0C; }

/* custom style for buttons */
.btn-primary{ background-color: #C50C0C; border: none; }
.btn-primary:hover{ background-color: #B70101; }

/* custom style for font-awesome */
.icons:hover{
	box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}